*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.cell-found {
  background-color: #096144;
}

.list {
  padding-left: 1rem;
  width: 100%;
  color: #c1c2c5;
  font-size: 0.9rem;
}
