*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.card-found {
  background-color: #096144;
}

.list {
  padding-left: 1rem;
  width: 100%;
  color: #c1c2c5;
  font-size: 0.9rem;
}

.mantine-1pcamc8 {
  height: auto;
  max-height: auto;
}

.card-main-container {
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;
}

.card-main-container:hover {
  filter: brightness(1.25);
}

.card {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  background-color: #25262b;
  color: #c1c2c5;
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

@media screen and (max-width: 425px) {
  .text,
  .text > label,
  .text .mantine-Input-input,
  .text .mantine-Select-dropdown,
  .text .mantine-Select-item {
    font-size: 0.75rem;
  }

  .card-text {
    font-size: 1.5rem;
  }
}
